.carousel-item img {
    height: 450px;
    object-fit: cover;
}

.card {
    margin: 20px;
}

.container h2 {
    position: absolute;
    z-index: 1;
    top: 640px;
    left: 150px;
    display: flex;
    flex-wrap:wrap ;
}

#btn {
    position: absolute;
    z-index: 1;
    top: 640px;
    right: 300px;
}